/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-size: 16px; /*default font size */
    font-family: Arial, Helvetica, sans-serif;
}


/* Typography */
h1 {
  font-size: 40px;
  padding: 20px 10px;
  margin: 0;
}

h2 {
  font-size: 30px;
  padding: 20px 10px;
  margin: 0;
}



/* Layout - navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0066cc;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #001a33;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0066cc;
  min-width: 160px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #001a33;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* columns */
.our-profile {
  padding: 0 5px;
  text-align: center;
}

.columns {
  display: flex;
  flex-direction: row;
}

.column-left {
  width: 50%;
  height: 50vh;
  margin: 10px;
  padding: 10px;
  box-shadow:4px 4px 4px 4px #f2f8ff;
}

.column-right {
  width: 50%;
  margin: 10px;
  padding: 10px;
  
}